#az {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 128px 176px;
  overflow: hidden;
}

.about p {
  margin-bottom: 32px;
}

@media (min-width: 601px) {

    #az {
      top: 8px;
      left: 8px;
      right: 8px;
      bottom: 8px;
    }

    .alpha-index {
        -webkit-column-width: 215px;
        -webkit-column-gap: 4px;
        height: 100%;
        position: relative;
    }

    .about {
        -webkit-column-width: 245px;
        -webkit-column-gap: 45px;
    }

    .scroller,
    .backscroller {
        position: absolute;
        top: 88px;
        right: 0;
        bottom: 0;
        width: 176px;
        cursor: pointer;
    }

    .backscroller {
        left: 0;
        right: auto;
        cursor: pointer;
    }
}

.close {
    position: absolute;
    top: 32px;
    right: 32px;
}

.close svg {
  width: 32px;
  height: 32px;
}


.close svg,
.scroller svg {
    color: #555;
    fill: currentColor;
    width: 32px;
    height: 32px;
}

#alpha-key {
  position: absolute;
  letter-spacing: 4px;
  left: 176px;
  top: 32px;
}

#alpha-key a {
  color: #acacac;
}

#alpha-key a.active {
  color: #000;
}

.alpha-index {
  line-height: 24px;
  left: 0;
}

.alpha-index h1 {
  font-size: 80px;
  line-height: 80px;
}

.subscribeBlock {
  width: 480px;
  line-height: 24px;
}

@media (max-width: 600px) {
    #az {
      padding: 88px 36px 0 12px;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }

    .alpha-index h1 {
      font-size: 36px;
      line-height: 36px;
    }

    #alpha-key {
        letter-spacing: auto;
        text-align: right;
        left: auto;
        right: 12px;
        width: 24px;
        top: 88px;
    }

    .alpha-index {
        line-height: 32px;
        width: 100%;
    }

    .alpha-index h1 {
        margin-bottom: 8px;
    }

    .close {
      top: 12px;
      right: 12px;
    }

    .subscribeBlock {
      width: auto;
    }

    .subscribe #social,
    .subscribe #extra {
      display: none;
    }
}

@media (min-width: 601px) {
  .subscribe input[type="text"] {
    border-bottom: 2px solid #333;
  }  
}

.subscribe input[type="text"] {
  font-size: 16px;
  margin-top: 36px;
  margin-bottom: 36px;
  color: #333 !important;
  fill: currentColor;
  background: none;
}

.subscribe {
  ::-webkit-input-placeholder {
     color: #333;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: #333;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: #333;
  }

  :-ms-input-placeholder {  
    color: #333;
  }
}