#container.showing-tracks {
	width: 50%;
}

#mixImage {
	-webkit-clip-path: circle(60px);
}

@media (max-width: 600px) {

	#container.showing-tracks {
		width: 33%;
	}

	#mixImage {
		position: absolute;
		top: 12px;
		right: 12px;
		width: 64px;
		height: 64px;
		-webkit-clip-path: circle(29px);
	}

	.player p {
		display: none;
	}
}