#container.showing-tracks {
	width: 50%;
}

@media (max-width: 600px) {
	#mixImage {
		position: absolute;
		top: 12px;
		right: 12px;
		width: 64px;
		height: 64px;
		-webkit-clip-path: circle(29px);
	}

	.player p {
		display: none;
	}
}