#container.showing-tracks {
	width: 50%;
}

#mixImage {
	-webkit-clip-path: circle(59px);
}

#mixImageCell,
.broadcasts #timelineMixImageCell {
	display: table-cell;
	width: 168px;
	text-align: center;
	vertical-align: middle;
}

.broadcasts .showing-results #timelineMixImageCell {
	display: block;
}

#mixImageCell svg,
.broadcasts #timelineMixImageCell svg {
	width: 120px;
	height: 120px;
}

svg {
	opacity: 0.8;
	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
}

body.broadcast .active svg {
	opacity: 0.8;
}

svg:hover,
body.broadcast .active svg:hover,
.active svg {
	opacity: 1;
}

body.broadcast nav.wide span:nth-of-type(1) svg {
	opacity: 1;
}

body.broadcasts-index nav.wide span:nth-of-type(3) svg {
	opacity: 1;
}

#featured-section svg {
	color: #fff;
	fill: currentColor;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -16px;
	display: none;
	opacity: 0.8;
}

@media (min-width: 601px) {
	#featured-section div:hover svg {
		display: block;
	}

	#featured-section svg:hover {
		opacity: 1;
	}

	#mixImageCell #mobilelogo,
	#mixImageCell svg.small {
		display: none;
	}


}

@media (max-width: 600px) {

	.broadcasts #timelineMixImageCell {
		visibility: hidden;
	}

	#container.showing-tracks {
		width: 33%;
	}

	#mixImageCell svg {
		display: none;
	}

	#mixImageCell svg.small {
		display: block;
		width: 32px;
		height: 32px;
		color: #fff;
		fill: currentColor;
	}

	#mixImageCell #mobilelogo svg {
		display: block;
	}

	#mixImageCell #mobilelogo svg.small {
		display: none;
	}

	#mobilelogo {
		position: absolute;
		top: 12px;
		right: 12px;
		width: 64px;
		height: 64px;
	}

	#mobilelogo svg {
		width: 64px;
		height: 64px;
	}

	.player p b {
		display: none;
	}

	.player p:nth-of-type(n+2) {
		display: none;
	}

	#mixImageCell {
		width: 48px;
	}
}