#extra {
	position: absolute;
	top: auto;
	bottom: 32px;
	left: 32px;
	width: 32px;
}

#extra svg {
	width: 32px;
	height: 32px;
}

#featured {
	display: inline;
	position: absolute;
	top: auto;
	bottom: 32px;
	left: 88px;
}

.top50 #featured {
	display: none;
}

#extra a {
	margin-left: 0;
}

#extra a:nth-child(1) {
	margin-bottom: 16px;
}

#featured p {
	font-size: 18px;
	letter-spacing: 1px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.7);
	margin: 0;
	line-height: 32px;
	text-transform: uppercase;
}

#featured a:hover {
	text-decoration: none;
}

#featured a:nth-child(2) {
	margin-left: 16px;
}

@media (max-width: 600px) {

	#featured p {
		font-size: 12px;
		text-transform: uppercase;
		background: none;
		padding: 0;
		line-height: 12px;
	}
	
	#extra {
		bottom: 12px;
		right: 12px;
		left: auto;
	}

	#featured {
		bottom: 12px;
		left: 12px;
	}
}