#extra {
	position: absolute;
	top: auto;
	bottom: 32px;
	left: 32px;
	width: 32px;
}

#extra svg {
	width: 32px;
	height: 32px;
	vertical-align: bottom;
}

#featured,
#linksout {
	display: inline;
	position: absolute;
	top: auto;
	bottom: 32px;
	left: 88px;
}

.top50 #featured,
.subscribe #featured, {
	display: none;
}

#extra a {
	margin-left: 0;
}

#extra a:nth-child(1) {
	margin-bottom: 16px;
}

#featured p {
	font-size: $generalScreenText;
	letter-spacing: 1px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.7);
	margin: 0;
	line-height: $generalScreenText;
}

/* hover hack */
@media (min-width: 601px) {
	#featured a:hover {
		text-decoration: none;
	}
}

#featured a:nth-child(2) {
	margin-left: 20px;
}

.subscribe #extra {
	line-height: normal;
}

@media (max-width: 600px) {

	#featured p {
		font-size: 12px;
		text-transform: uppercase;
		background: none;
		padding: 0;
		line-height: 12px;
		letter-spacing: 2px;
	}
	
	#extra {
		bottom: 40px;
		right: auto;
		left: 12px;
	}

	#featured,
	#linksout {
		bottom: 12px;
		left: 12px;
	}

	.subscribe #featured {
		display: none;
	}

	#linksout p {
		font-size: 12px;
		letter-spacing: 2px;
	}

	#linksout p a {
		border-bottom: 1px solid #333;
	}
}



