nav {
	position: absolute;
	top: 32px;
	left: 32px;
	z-index: 10;
}

nav svg {
	width: 32px;
	height: 32px;
}

nav>a,
nav>span {
	display: inline;
	width: auto;
	height: auto;
	float: left;
	position: relative;
}


nav.wide p {
	display: inline;
	float: left;
}

nav.wide span {
	margin-left: 16px;
}

nav span:first-of-type {
	margin-left: 0px;
}

nav img {
	display: block;
	color: #fff;
	width: 32px;
	vertical-align: top;
}

nav img:hover {
	opacity: 0.5;
	cursor: pointer;
}

#pauseButton {
	display: none;
}

@media (max-width: 600px) {
	nav {
		left: 12px;
		top: 12px;
		font-size: 16px;
		line-height: 18px;
	}

	.mobNarrow {
		width: 32px;
	}

	.mobNarrow a {
		margin-left: 0;
		margin-bottom: 16px;
	}

	#extra.mobLeft {
		left: 12px;
		right: auto;
	}
}