nav {
	position: absolute;
	top: 32px;
	left: 32px;
	z-index: 10;
}


nav>a {
	display: inline;
	width: auto;
	height: auto;
	float: left;
}

nav.wide p {
	display: inline;
	float: left;
}

nav a {
	margin-left: 16px;
}

nav a:first-of-type {
	margin-left: 0px;
}

nav img {
	display: block;
	color: #fff;
	width: 32px;
	vertical-align: top;
}

nav img:hover {
	opacity: 0.5;
	cursor: pointer;
}

#pauseButton {
	display: none;
}

@media (max-width: 600px) {
	nav {
		left: 12px;
		top: 12px;
		font-size: 16px;
		line-height: 18px;
	}
}