#playDetails {
	position: absolute;
	left: 176px;
	top: 32px;
	font-size: 14px;
	line-height: 16px;
	font-size: $generalScreenText
}

#playDetails p:nth-child(2){
	font-family: $mono;
	line-height: 20px;
}

#playDetails p:nth-child(3){
	font-family: $reg;
}

#players {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.player {
	float: left;
	width: 50%;
}

.player canvas {
	height: 72px;
	display: block;
}

.player p {
	margin: 0;
}

.player p:first-child {
	font-family: $mono;
}

.player p:nth-child(3) {
	position: relative;
	top: -4px;
	line-height: 12px;
	border-left: 2px solid rgba(255, 255, 255, 0.7);
	padding-top: 12px;
}

.player p:nth-child(n+3) {
	padding-left: 8px;
}

.player p:nth-child(4) {
	padding-left: 10px;
	width: 200px;
}

#players>img {
	margin-left: 24px;
	width: 120px;
}

@media (max-width: 600px) {
	#players {
		margin-left: 12px;
	}
	#playDetails {
		left: 12px;
		top: 64px;
		font-size: 16px;
		line-height: 18px;
	}

	.player {
		position: relative;
	}

	.player:after {
        content: '';
        position: absolute;
        height: 10px;
        bottom: -1px;
        left: 0;
        border-left: 1px solid #fff;
    }
}