#playDetails {
	position: absolute;
	left: 176px;
	top: 24px; /* white body border is already 8px */
	font-size: 14px;
	line-height: 16px;
	font-size: $generalScreenText
}

#playDetails p:nth-child(2){
	font-family: $mono;
	line-height: 20px;
}

#playDetails p:nth-child(3){
	font-family: $reg;
}

.warning {
	padding:2px;
	margin-top: 4px;
	color:#333;
	background: #fff;
}

#players {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.player {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	position: relative;
}

.player canvas {
	display: block;
	position: relative;
}

.player p {
	margin: 0;
}

.player p:nth-child(3) {
	font-family: $mono;
}

.player p:nth-child(2) {
	position: relative;
	top: -4px;
	line-height: 12px;
	border-left: 2px solid rgba(255, 255, 255, 0.7);
	padding-top: 12px;
}

.player p:nth-child(n+2) {
	padding-left: 8px;
}

.player p:nth-child(n+3) {
	padding-left: 10px;
}

#players>img {
	margin-left: 24px;
	width: 120px;
}

@media (max-width: 600px) {
	#players {
		margin-left: 12px;
	}
	#playDetails {
		left: 12px;
		top: 64px;
		font-size: 16px;
		line-height: 18px;
	}

	.player {
		position: relative;
	}
}