#play-container {
	height: 200px;
	display: none;
}

#play {
	float: left;
	width: 100%;
	
	left: 0px;
	position: relative;

	/* for info bar slide */
	-webkit-transition: left 300ms ease;
	-o-transition: left 300ms ease;
	-ms-transition: left 300ms ease;
	transition: left 300ms ease;
}

.play {
	background: url("/assets/images/player-lines.png");
	height: 22px;
	margin-left: 50px;
}

.playDetails {
	position: absolute;
	left: 268px;
	top: 64px;
	font-size: 14px;
	line-height: 16px;
}

@media (max-width: 600px) {
	.playDetails {
		left: 32px;
		top: 80px;
		font-size: 16px;
		line-height: 18px;
	}
}