#btn-tracklisting {
	font-size: 20px;
	position: absolute;
	top: $borderWidth + 24;
	letter-spacing: 1px;
	right: $borderWidth + 40;
	display: inline;
	width: auto;
	height: 24px;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -ms-transform-origin: 100% 0; /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 100% 0; /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    transform-origin: 100% 0;
    line-height: 16px;
}

#btn-tracklisting span {
	display: block;
	-webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}

.sidepanel {
	width: 50%;
	right: 0;
	top: 8px;
	bottom: 8px;
	background: #fafafa;
	color: black;
	overflow: scroll;
	box-sizing: border-box;
	position: fixed;
	padding: 88px $bigBorderWidth 0;
}

#tracks-in-mix p,
#tracks-in-mix h2 {
	border-bottom: 1px solid #ddd;
	padding: 8px 0 12px 0;
}

#tracks-in-mix .tabs p {
	padding: 16px 0 16px 32px;
}

#tracks-in-mix h2 {
	clear: left;
}

#search-results.sidepanel>div,
.month div {
	margin-bottom: 24px;
}

.tabs {
	background: #f1f1f1;
	float: left;
	width: 100%;
}

.tabs .current {
	background: #fafafa;
}

.tabs p {
	float: left;
	width: 50%;
	display: block;
}

#tracks-in-mix {
	padding-left: 0;
	padding-right: 0;
}

#tracks-in-mix>div:nth-child(n+2){
	margin: 0 32px;
}

#tracks-in-mix .tabs p {
	border-bottom: none;
}