#btn-tracklisting {
	font-size: 18px;
	position: absolute;
	top: 23px;
	letter-spacing: 1px;
	right: 40px;
	display: inline;
	width: auto;
	height: 24px;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -ms-transform-origin: 100% 0; /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 100% 0; /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    transform-origin: 100% 0;
    line-height: $generalScreenText;
    text-decoration: underline;
    letter-spacing: 2px;
}

#btn-tracklisting span {
	display: block;
	-webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}

#btn-tracklisting.showing-tracks {
	right: 52%;	
}

@media (max-width: 600px) {
	#btn-tracklisting {
		font-size: 12px;
		right: 24px;
		top: 58%;
		z-index: 10;
	}
}

.sidepanel {
	width: 50%;
	right: 0;
	top: 8px;
	bottom: 8px;
	background: #fefeff;
	color: black;
	overflow: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	position: fixed;
	padding: 0;
}

.sidepanel a {
	display: block;
}

@media (max-width: 600px) {
	.sidepanel {
		width: 67%;
		top: 0px;
		bottom: 4px;
		padding: 4px 0 0 0;
	}

	#tracks-in-mix p,
	#tracks-in-mix h2 {
		border-bottom: 1px solid #ddd;
		padding: 8px 0;
		text-indent: -23px;
		padding-left: 23px;
	}

	#tracks-in-mix h2 {
		text-indent: 0;
	}
}

@media (max-width: 600px) {
	#tracks-in-mix .tabs p {
		padding: 16px 0 16px 16px;
		text-indent: 0px;
		margin: 0px;
	}
}

#search-results.sidepanel>div {
	width: auto;
	padding: 0 $generalScreenSidePadding;
}

.month>div {
	padding: 0;
	padding-left: 24px;
	padding-right: 24px;
}

#search-results h2,
#search-results h3 {
	padding: 0;
	margin-left: $generalScreenSidePadding;
	margin-right: $generalScreenSidePadding;
	font-family: $reg;
	font-size: 32px;
	margin-bottom: 0;
}

#search-results h3 {
	font-size: 30px;
	color: $subHeadGrey;
}

#broadcasts-by-month h2 {
	margin: 0 0 0 24px;
	line-height: 42px;
	display: inline;
	border-bottom: 2px solid #333;
}

@media (max-width: 600px) {
	#search-results h3 {
		margin-left: $generalScreenSidePadding/2;
		margin-right: $generalScreenSidePadding/2;
	}
	#broadcasts-by-month h2 {
		float: left;
	}
	#broadcasts-by-month #tracks-in-mix h2 {
		float: none;
		padding-left: 0;
	}
}

@media (min-width: 601px) {
	#broadcasts-by-month {
		padding-top: 88px;
	}
}

@media (max-width: 600px) {

	#broadcasts-by-month h2 {
		margin: 0 0 0 16px;
	}

	#search-results.sidepanel>div {
		padding: 0 16px;
	}

	.month>div,
	#search-results h2 {
		padding: 0;
	}

	#search-results.sidepanel p {
		line-height: 16px;
		margin: 0;
	}

	.month>div,
	#search-results h2 {
		margin-left: 12px;
		margin-right: 12px;
	}

	#search-results.sidepanel p:nth-of-type(2) {
		font-family: $reg;
	}

	#search-results.sidepanel>div {
		height: auto;
	}
}

.month>div:last-of-type {
	margin-bottom: 24px;
}

/* hover hack */
@media (min-width: 601px) {
	.month>div:hover,
	#search-results>div:hover {
		background: #f1f1f1;
	}

	.month>div.has-tracks:hover,
	#search-results>div.has-tracks:hover {
		background: #fff;
	}
}

#search-results .mix-in-sidepanel div:nth-of-type(2) {
	width: 60%;
}

.month div span,
#search-results div span {
	text-decoration: none;
	cursor: default;
	display: table;
	width: 100%;
}

.play-button {
	width: 80px;
	height: 80px;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

/* hover hack */
@media (min-width: 601px) {
	.month .play-button:hover {
		cursor: pointer;
	}
}

.mix-in-sidepanel {
	vertical-align: middle;
	padding-left: 0px;
	height: 94px;
	width: 100%;
	padding-top: 7px;
	clear: left;
	cursor: pointer;
}

.mix-in-sidepanel img {
	float: left;
	-webkit-clip-path: circle(40px);
}

p.mixTitle {
	font-family: $reg;
	line-height: 24px;
}

p.sc-meta {
	color: $subHeadGrey;
	font-family: $reg;
}

@media (max-width: 600px) {
	.mix-in-sidepanel img {
		display: none;
	}

	.play-button {
		display: none;
	}
}

.mix-in-sidepanel>div {
	position: relative;
	float: left;
}

.mix-in-sidepanel div:nth-of-type(2) {
	margin-left: $generalScreenSidePadding;
	margin-top: 8px;
}

.mix-in-sidepanel #add {
	width: 32px;
	height: 32px;
	float: right;
	margin-top: 23px;
	color: #949496;
	fill: currentcolor;
}

.play-button svg {
	width: 44px;
	height: 44px;
	margin: 18px 0 0 21px;
}

/* hover hack */
@media (min-width: 601px) {
	.play-button:hover svg {
		width: 52px;
		height: 52px;
		margin: 14px 0 0 17px;
		color: #7d7d7d;
		fill: currentcolor;
	}
}

.tabs {
	background: #f1f1f1;
	float: left;
	width: 100%;
}

.tabs .current {
	background: #fff;
}

.tabs p {
	float: left;
	width: 50%;
	display: block;
}

#tracks-in-mix {
	padding-left: 0;
	padding-right: 0;
}

#tracks-in-mix .mix-in-sidepanel {
	background: #f1f1f1;
}

#tracks-in-mix .mix-in-sidepanel p {
	border: 0;
	font-size: $generalScreenText;
	text-indent: 0;
	margin: 0;
	padding: 0;
}

#tracks-in-mix .mix-in-sidepanel img {
	margin: 0 0 0 $generalScreenSidePadding;
}

#tracks-in-mix .mix-in-sidepanel p:nth-of-type(1) {
	font-family: $mono;
}

#tracks-in-mix div:nth-of-type(3) {
	padding-top: 8px;
}

#tracks-in-mix p,
#tracks-in-mix h2 {
	border-bottom: 1px solid #ddd;
	font-size: $generalScreenText;
	margin: 0;
}

@media (min-width: 601px) {
	#tracks-in-mix p,
	#tracks-in-mix h2 {
		padding: 12px 0;
	}
}

#tracks-in-mix .tabs p {
	padding: 16px 0 16px 32px;
}

#tracks-in-mix h2 {
	display: block;
	clear: left;
	line-height: $generalScreenText;
}

#tracks-in-mix>div:nth-of-type(3){
	padding-top: 12px;
	line-height: 32px;
}

#tracks-in-mix>div:nth-of-type(n+3){
	margin: 0 32px;
	clear: left;
}

@media (max-width: 600px) {

	#tracks-in-mix>div:nth-of-type(3){
		line-height: 20px;
	}

	#tracks-in-mix>div:nth-of-type(n+3){
		margin: 0;
		padding-left: 16px;
		padding-right: 16px;
	}	

	.mix-in-sidepanel div:nth-of-type(2) {
		margin-left: 0;
		margin-top: 16px;
		width: 80%; /* to allow for minus button room to float right into */
	}

	#tracks-in-mix .mix-in-sidepanel div:nth-of-type(2) {
		margin-left: 12px;
	}
}

#tracks-in-mix .tabs p {
	border-bottom: none;
}

#broadcasts-by-month h2 {
	text-transform: uppercase;
}

.month p {
	margin: 0;
}

.sc-links {
	background-color: none;
}

#tracks-in-mix .sc-links p {
	border: 0;
	font-family: $mono;
}

#tracks-in-mix .sc-links p:nth-child(1) {
	font-family: $reg;
}

.sc-links p a {
	display: inline;
	text-decoration: underline;
}

@media (max-width: 600px) {
	.month {
		clear: left;
	}

	.month div{
		clear: left;
		float: left;
	}

	.month:nth-of-type(n+1) {
		margin-top: 12px;
	}

	.month p {
		line-height: $generalScreenText;
	}

	.month > div {
		height: auto;
	}

	.mix-in-sidepanel {
		display: block;
		height: auto;
		margin: 0;
	}
}

.month p:nth-of-type(2) {
	font-family: $reg, Helvetica, sans-serif;
}

.panel-open {
	-webkit-animation-name: example;
    -webkit-animation-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.660, 0.020, 0.940, -0.035); 
}

.panel-closed {
	-webkit-animation-name: example;
    -webkit-animation-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.660, 0.020, 0.940, -0.035); 
}

@-webkit-keyframes example {
    from {width:0;}
    to {width:50%;}
}

@-webkit-keyframes example2 {
    from {width:50%;}
    to {width:0%;}
}