html, body {
	height: 100%;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #fff;
	border: $borderWidth solid #fff;
}

#container {
	display: table;
	width: 100%;
	height: 100%;
	float: left;
}

#inner-container {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

.centered-container {
	display: table;
	height: 100%;
	table-layout: fixed;
	width: 100%;
	margin-left: 0;
}

nav svg {
	color: #fff;	
	fill: currentColor;
}

.a-z nav svg,
.about nav svg,
.subscribe nav svg,
.a-z #featured a,
.about #featured a,
.subscribe #featured a {
	color: #333;
}

.a-z #featured p,
.about #featured p,
.subscribe #featured p {
	border-color: rgba(48, 48, 48, 0.7);
}

p {
	margin: 0;
}

a,
[data-ember-action] {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

noscript {
	display: block;
	color: #333;
	width: 300px;
	margin: 32px;
}

noscript a {
	color: #333;
}

@media (max-width: 600px) {
	noscript {
		width: 80%;
	}
}

@media (max-width: 600px) {

	.a-z #extra,
	.a-z #featured,
	.a-z #social,
	.about #extra,
	.about #featured,
	.about #social,
	.broadcasts #featured,
	.broadcasts #extra,
	.top50 #extra,
	.top50 #social,
	.search-results #featured,
	.search-results span:nth-of-type(3),
	.broadcasts-index #social§ {
		display: none;
	}

	.search-results #extra {
		bottom: 12px;
	}

	.broadcast #featured,
	.broadcast #extra {
		display: block;
	}

	.centered-container {
		margin-left: 12px;
	}

	.mobdisabled {
		display: none;
	}

	html,
	body,
	#container {
		overflow-y: scroll;
	}

	#container {
		display: table;
		width: 100%;
		height: 100%;
	}

	#inner-container {
		width: 100%;
	}

	body {
		border: $borderWidth/2 solid #fff;;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.hideWhenSmall {
		display: none;
	}
}

::selection{ background-color: transparent;}
::moz-selection{ background-color: transparent;}
::webkit-selection{ background-color: transparent;}

::-webkit-scrollbar { 
    display: none; 
}

a {
	color: #fff;
}

@media (min-width: 601px) {
	a:hover {
		text-decoration: underline;
	}
}

.disabled {
	visibility: hidden;
}

.enabled {
	display: block;
}

.muted {
	text-decoration: line-through;
}

#az a {
	color: #333;
}