#social {
	display: inline;
	position: absolute;
	top: auto;
	bottom: 32px;
	left: 80px;
}

#social svg {
	vertical-align: bottom;
	height: 16px;
	width: auto;
}

@media (max-width: 600px) {
	#social {
		bottom: 16px;
		left: 58px;
	}

	#social svg {
		height: 11px;
	}
}