#timeline {
	float: left;
	width: 100%;
	padding: 0 75px 0 0;
	position: relative;
}

@media (max-width: 600px) {
	#timeline {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 4px;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

.decade {
	float: left;
	width: 100%;
	margin: 0 0 60px 0;
	position: relative;
}

.yearImage {
	-webkit-clip-path: circle(0);
	-webkit-transition: -webkit-clip-path 0.5s ease-out;
}

.year div,
.year span {
	font-family: 'DecimaMonoX';
}

/* hover hack */
@media (min-width: 601px) {
	.year:hover .yearImage {
		-webkit-clip-path: circle(39px);
		-webkit-transition: -webkit-clip-path 0.26s ease-out;
	}
}

#highlights {
	padding-left: 16px;
	text-decoration: underline;
	font-family: $reg;
}

@media (min-width: 601px) {
	#highlights {
		position: absolute;
		top:24px;
		right:32px;
	}
}



@media (min-width: 601px) {
	.decade:after {
	    content: '';
	    position: absolute;
	    height: 8px;
	    width: 8px;
	    bottom: -3px;
	    left: 0px;
	    border: 4px solid #fff;
	    border-radius: 4px;
	}

	.decade:before {
	    content: '';
	    position: absolute;
	    height: 8px;
	    width: 8px;
	    bottom: -3px;
	    right: 0px;
	    border: 4px solid #fff;
	    border-radius: 4px;
	}

	.year:not(:first-child):not(:last-child):after {
	    content: '';
	    position: absolute;
	    height: 8px;
	    width: 8px;
	    bottom: -2px;
	    left: 46%;
	    border-left: 1px solid #fff;
	}

	.yearImage {
		position: absolute;
	    height: 80px;
	    width: 80px;
	    bottom: -100%;
	    left: 25%;
	    background-image: url("/assets/images/ss_120_x_120.gif");
	    background-size: cover;
	    z-index: 10;
	}

	.yearImage img {
		width: 100%;
		height: 100%;
	}

	.decade:nth-of-type(n+2) .yearImage {
		left: 25%;
	}

	.year:last-child .yearImage {
	    left: -40px;
	}

	.year:first-child .yearImage {
	    right: -40px;
	    left: auto;
	}

	.decade:nth-of-type(4) .year:last-child .yearImage  {
		left: -40px;
	}

	.decade:nth-of-type(4) .year:first-child .yearImage  {
		right: -40px;
		left: auto;
	}

}

.current-decade {
	.year {
		width: 20%; /* 100 / (number of years in decade so far -1) */
	}

	.year:first-of-type,
	.year:last-of-type {
		width: 10%; /* split year width above into two for first and last years */
	}
}

.year {
	float: right;
	width: 11.11%;
	text-align: center;
	border-bottom: 2px solid #fff;
	font-size: 16px;
	font-family: 'DecimaMonoX';
	position: relative;
	line-height: 36px;
}

.decade:last-of-type .year {
	width: 50%;
}

.year:first-of-type,
.year:last-of-type {
	width: 5.55%;
	text-align: right;
}

.year:last-of-type {
	text-align: left;
}

.year a {
	display: block;
}

.year:hover {
	cursor: pointer;
}

#search-timeline .year {
	cursor: default;
}

@media (max-width: 600px) {

	.yearImage,
	#timelineMixImageCell {
		display: none;
	}

	#timeline:not(.alt-timeline),
	#search-timeline:not(.alt-timeline) {
		width: 22% !important;
		padding: 0;
		margin-top: 64px;
		border-right: 1px solid #fff;
		
	}

	#timeline:not(.alt-timeline) .decade,
	#timeline:not(.alt-timeline) .year {
		width: 100% !important;
		text-align: left !important;
	}

	#timeline:not(.alt-timeline) .year {
		margin-bottom: 24px;
		padding-left: 2px;
		border-bottom: 0;
		text-align: right !important;
		padding-right: 12px;
		position: relative;
		font-family: 'DecimaMonoX';
		line-height: 18px;
	}

	.year:after {
        content: '';
        position: absolute;
        width: 4px;
        top: 0;
        right: 0;
        border-top: 1px solid #ddd;
    }


	#timeline:not(.alt-timeline) .decade {
		margin: 0;
	}

	#timeline.alt-timeline,
	#timeline.alt-search-timeline {
		width: 100% !important;
		padding: 0;
		overflow-x: scroll;
	}

	#timeline.alt-timeline .decade {
		padding: 0 50px;
		width: 200%;
	}
}