#btn-tracklisting {
	font-size: 20px;
	position: absolute;
	top: $borderWidth + 24;
	letter-spacing: 1px;
	right: $borderWidth + 40;
	display: inline;
	width: auto;
	height: 24px;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -ms-transform-origin: 100% 0; /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 100% 0; /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    transform-origin: 100% 0;
    line-height: 16px;
}

#btn-tracklisting span {
	display: block;
	-webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}

#tracklisting {
	position: absolute;
	width: 50%;
	right: 0;
	top: 8px;
	bottom: 8px;
	background: white;
	color: black;
	overflow: scroll;
	box-sizing: border-box;
}

#tracklisting div {
	padding: 0 24px;
}

#tracklisting div:nth-of-type(1) {
	padding: 0 8px;
}

#tracklisting.panel-closed {
	width: 0;
}

#tracklisting.panel-open {
	width: 50%;
}

#tracklisting div:nth-child(1) p {
	float: left;
	width: 50%;
	background: #f1f1f1;
	cursor: pointer;
	padding: 16px 8px;
}

#tracklisting div:nth-child(1) p.current {
	background: white;
}

#tracklisting h2 {
	clear: left;
	margin-top: 24px;
}

#tracklisting h2 {
	font-family: 'Decima Pro';
	margin-bottom: 0;
}

#tracklisting h2,
#tracklisting p {
	font-size: 14px;
}

#tracklisting p,
#tracklisting h2 {
	border-bottom: 1px solid #ddd;
	padding: 8px 0;
}

#tracklisting div:nth-child(1) p {
	padding: 16px 8px;
	border-bottom: 0;
}

#tracklisting>p:first-of-type {
	padding-left: 0;
}

.disabled {
	display: none;
}

.enabled {
	display: block;
}