#tracklisting {
	position: absolute;
	width: 50%;
	right: -100px;
	top: 8px;
	bottom: 8px;
	background: white;
	color: black;
	overflow: scroll;
}

#tracklisting.panel-closed {
	width: 0;
}

#tracklisting.panel-open {
	width: 50%;
}