/*

font-family: 'DecimaPro';
font-family: 'DecimaPro-Bold';
font-family: 'DecimaMonoX Bold';
font-family: 'DecimaMonoX Light';
font-family: 'DecimaMonoX';

*/
#mfPreviewBar,
#mfPreviewBar.adContent {
	display: none !important;
}

body, div, p, span {
	font-family: 'DecimaPro';
}

h1, h2, h3, h4, h5, h6,
.sidepanel p {
	font-family: 'DecimaMonoX';
}

h1, h2, h3, h4, h5, h6 {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 24px;
	margin-top: 0;
}

h2 {
	font-size: 36px;
}

@media (max-width: 600px) {
	h2 {
		font-size: 24px;
		margin-bottom: 0;
	}
}

p {
	font-size: 16px;
}

b {
	font-family: 'DecimaPro-Bold';
	font-weight: normal;
}

a {
	text-decoration: none;
}

.sidepanel a {
	color: #2e2e33;
}

#tracks-in-mix p {
	font-family: "DecimaPro";
	font-size: 16px;
}

@media (max-width: 600px) {
	#tracks-in-mix p,
	#tracks-in-mix div {
		font-size: 12px;
	}
}

#tracks-in-mix h2 {
	font-family: "DecimaPro";
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	margin-bottom: 0;

}

@media (max-width: 600px) {
	#tracks-in-mix h2 {
		font-size: 12px;
	}
}

#timeline,
#search-timeline {
	font-size: 12px;
}

#menu,
#search-menu {
	font-family: 'DecimaPro';
	font-size: 16px;
}


@media (max-width: 600px) {
	#timeline {
		font-size: 16px;
	}
}