$generalScreenSidePadding: 24px;


$borderWidth: 8px;

$bigBorderWidth: $borderWidth * 4;



/* TEXT SIZES */
$generalScreenText: 16px;


/* TEXT COLOURS */
$mainGreyText: #2e2e33;
$subHeadGrey: #949496;

/* TEXT STYLES */
$mono: 'DecimaMonoX';
$reg: 'DecimaPro';