#year-selector {
	position: absolute;
	right: 0;
	top: 77px;
	background: none;
	overflow: hidden;
	width: 160px;
	padding-left: 16px;
	height: 48px;
	border-bottom: 2px solid rgba(255 ,255, 255, 0.7);
	color: #fff;
}

#year-selector p {
	font-family: "Decima Mono X";
	font-size: 36px;
}

#year-selector:hover p a {
	color: $mainGreyText;
}

#year-selector:hover {
	background: rgba(255 ,255, 255, 0.7);
	position: absolute;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
	height: auto;
	padding-bottom: 200%;
}