<div>
	{{#each dj in model}}
		<p>{{#link-to 'search.results' dj.name }}{{dj.name}}({{dj.count}}){{/link-to}}</p>
		{{#eq model.length 20 }}
	     <p> display this content, if it passes</p>
    	{{/eq}}
	{{/each}}
</div>