<div id="timeline">
  <!-- 2010s -->
  <div class="decade current-decade">
    <div class="year">{{#link-to "broadcasts" (query-params year="2015") }}2015{{/link-to}}</div>
    <div class="year">{{#link-to "broadcasts" (query-params year="2014") }}14{{/link-to}}</div>
    <div class="year">{{#link-to "broadcasts" (query-params year="2013") }}13{{/link-to}}</div>
    <div class="year">{{#link-to "broadcasts" (query-params year="2012") }}12{{/link-to}}</div>
    <div class="year">{{#link-to "broadcasts" (query-params year="2011") }}11{{/link-to}}</div>
    <div class="year"><a href="/broadcasts?year=2010"><span class="showWhenBig">20</span>10</a></div>
  </div>

  <!-- 00s -->
  <div class="decade">
    <div class="year"><span class="hideWhenSmall">20</span>09</div>
    <div class="year">08</div>
    <div class="year">07</div>
    <div class="year">06</div>
    <div class="year">05</div>
    <div class="year">04</div>
    <div class="year">03</div>
    <div class="year">02</div>
    <div class="year">01</div>
    <div class="year">2000</div>
  </div>

  <!-- 90s -->
  <div class="decade">
    <div class="year"><span class="hideWhenSmall">19</span>99</div>
    <div class="year">98</div>
    <div class="year">97</div>
    <div class="year">96</div>
    <div class="year">95</div>
    <div class="year">94</div>
    <div class="year">93</div>
    <div class="year">92</div>
    <div class="year">91</div>
    <div class="year">1990</div>
  </div>

  <!-- earlier/other -->
  <div class="decade">
    <div class="year">1989</div>
    <div class="year">1988</div>
  </div>
</div>

{{outlet}}