<div id="search-results" class="sidepanel">
    <div style="background: #fff; width: 100%; height: 100%;display: table;">
        <div class="ball-clip-rotate" style="display:table-cell; vertical-align:middle; text-align: center">
            <div></div>
        </div>
    </div>
</div>