<div id="search-results" class="sidepanel">
	<h2>Search results for “{{keyword}}”</h2>
	
	{{#each result in model}}
	  <div>
	  	{{#link-to 'broadcast' result.id}}
	  	<p>{{ formatted-date result.broadcast_date 'DD-MM-YY'}}</p>
	  	<p>{{result.session_name}}</p>
	  	{{/link-to}}
	  </div>
	{{/each}}
</div>