<div id="timeline" class="push">
	<!-- 2010s -->
	<div class="decade current-decade">
		<div class="year">2015</div>
		<div class="year">14</div>
		<div class="year">13</div>
		<div class="year">12</div>
		<div class="year">11</div>
		<div class="year"><span class="showWhenBig">20</span>10</div>
	</div>

	<!-- 00s -->
	<div class="decade">
		<div class="year"><span class="hideWhenSmall">20</span>09</div>
		<div class="year">08</div>
		<div class="year">07</div>
		<div class="year">06</div>
		<div class="year">05</div>
		<div class="year">04</div>
		<div class="year">03</div>
		<div class="year">02</div>
		<div class="year">01</div>
		<div class="year">2000</div>
	</div>

	<!-- 90s -->
	<div class="decade">
		<div class="year"><span class="hideWhenSmall">19</span>99</div>
		<div class="year">98</div>
		<div class="year">97</div>
		<div class="year">96</div>
		<div class="year">95</div>
		<div class="year">94</div>
		<div class="year">93</div>
		<div class="year">92</div>
		<div class="year">91</div>
		<div class="year">1990</div>
	</div>

	<!-- earlier/other -->
	<div class="decade">
		<div class="year">1989</div>
		<div class="year">1988</div>
	</div>
</div>

<div id="tracklisting">
	<h2>Search results for {{ controller }}</h2>
	<div>
		<p>DEC</p>
		<p><a href="#" onclick="play()">Lorem ipsum dolor sit amco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolpariatur.</a></p>
	</div>
	{{#each result in model}}
		<p>result: {{result.session_name}} / {{result.broadcast_date}}</p>
	{{/each}}
</div>