<div id="search-results" class="sidepanel" {{ action 'swipeAway' on="swipeRight"}}>
	<h2>{{keyword}}</h2>
	<h3>{{model.length}} results</h3>
	{{#each result in model}}
	  {{render "sidepanel-mix" result}}
	{{/each}}
</div>