<div id="az">
	<div class="close">
	{{#link-to "index"}}
		<svg version="1.1" viewBox="0 0 44.236 44.236" enable-background="new 0 0 44.236 44.236" xml:space="preserve"><g>	<g>		<line fill="none" x1="15.533" y1="28.704" x2="28.704" y2="15.533"/>		<path d="M15.533,29.454c-0.192,0-0.385-0.073-0.53-0.221c-0.293-0.293-0.293-0.768,0-1.061l13.171-13.171			c0.293-0.293,0.768-0.293,1.061,0s0.293,0.768,0,1.061L16.063,29.234C15.917,29.381,15.725,29.454,15.533,29.454z"/>	</g>	<g>		<line fill="none" x1="15.533" y1="15.533" x2="28.704" y2="28.704"/>		<path d="M28.704,29.454c-0.192,0-0.385-0.073-0.53-0.221L15.002,16.063c-0.293-0.293-0.293-0.768,0-1.061s0.768-0.293,1.061,0			l13.171,13.171c0.293,0.293,0.293,0.768,0,1.061C29.088,29.381,28.896,29.454,28.704,29.454z"/>	</g></g></svg>
	{{/link-to}}
	</div>
	<div id="alpha-key">
		{{#link-to 'a-z.letter' 'A'}}A{{/link-to}}
		{{#link-to 'a-z.letter' 'B'}}B{{/link-to}}
		{{#link-to 'a-z.letter' 'C'}}C{{/link-to}}
		{{#link-to 'a-z.letter' 'D'}}D{{/link-to}}
		{{#link-to 'a-z.letter' 'E'}}E{{/link-to}}
		{{#link-to 'a-z.letter' 'F'}}F{{/link-to}}
		{{#link-to 'a-z.letter' 'G'}}G{{/link-to}}
		{{#link-to 'a-z.letter' 'H'}}H{{/link-to}}
		{{#link-to 'a-z.letter' 'I'}}I{{/link-to}}
		{{#link-to 'a-z.letter' 'J'}}J{{/link-to}}
		{{#link-to 'a-z.letter' 'K'}}K{{/link-to}}
		{{#link-to 'a-z.letter' 'L'}}L{{/link-to}}
		{{#link-to 'a-z.letter' 'M'}}M{{/link-to}}
		{{#link-to 'a-z.letter' 'N'}}N{{/link-to}}
		{{#link-to 'a-z.letter' 'O'}}O{{/link-to}}
		{{#link-to 'a-z.letter' 'P'}}P{{/link-to}}
		{{#link-to 'a-z.letter' 'Q'}}Q{{/link-to}}
		{{#link-to 'a-z.letter' 'R'}}R{{/link-to}}
		{{#link-to 'a-z.letter' 'S'}}S{{/link-to}}
		{{#link-to 'a-z.letter' 'T'}}T{{/link-to}}
		{{#link-to 'a-z.letter' 'U'}}U{{/link-to}}
		{{#link-to 'a-z.letter' 'V'}}V{{/link-to}}
		{{#link-to 'a-z.letter' 'W'}}W{{/link-to}}
		{{#link-to 'a-z.letter' 'X'}}X{{/link-to}}
		{{#link-to 'a-z.letter' 'Y'}}Y{{/link-to}}
		{{#link-to 'a-z.letter' 'Z'}}Z{{/link-to}}
	</div>
	{{outlet}}
</div>
