<div id="az" style="position: relative; background: rgba(255, 255, 255, 0.9); color: #333; position: fixed; top: 0; left: 0; right: 0; bottom: 0; padding: 128px; -webkit-column-width:15em;">

	<div style="position: absolute; top: 32px; right: 32px;">{{#link-to "index"}}X close{{/link-to}}</div>

	<div id="alpha-key" style="position: absolute; top: 32px; left: 160px;">
		{{#link-to 'a-z.letter' 'a'}}A{{/link-to}}
		{{#link-to 'a-z.letter' 'b'}}B{{/link-to}}
		{{#link-to 'a-z.letter' 'c'}}C{{/link-to}}
		{{#link-to 'a-z.letter' 'd'}}D{{/link-to}}
		{{#link-to 'a-z.letter' 'e'}}E{{/link-to}}
		{{#link-to 'a-z.letter' 'f'}}F{{/link-to}}
		{{#link-to 'a-z.letter' 'g'}}G{{/link-to}}
		{{#link-to 'a-z.letter' 'h'}}H{{/link-to}}
		{{#link-to 'a-z.letter' 'i'}}I{{/link-to}}
		{{#link-to 'a-z.letter' 'j'}}J{{/link-to}}
		{{#link-to 'a-z.letter' 'j'}}K{{/link-to}}
		{{#link-to 'a-z.letter' 'l'}}L{{/link-to}}
		{{#link-to 'a-z.letter' 'm'}}M{{/link-to}}
		{{#link-to 'a-z.letter' 'n'}}N{{/link-to}}
		{{#link-to 'a-z.letter' 'o'}}O{{/link-to}}
		{{#link-to 'a-z.letter' 'p'}}P{{/link-to}}
		{{#link-to 'a-z.letter' 'q'}}Q{{/link-to}}
		{{#link-to 'a-z.letter' 'r'}}R{{/link-to}}
		{{#link-to 'a-z.letter' 's'}}S{{/link-to}}
		{{#link-to 'a-z.letter' 't'}}T{{/link-to}}
		{{#link-to 'a-z.letter' 'u'}}U{{/link-to}}
		{{#link-to 'a-z.letter' 'v'}}V{{/link-to}}
		{{#link-to 'a-z.letter' 'w'}}W{{/link-to}}
		{{#link-to 'a-z.letter' 'x'}}X{{/link-to}}
		{{#link-to 'a-z.letter' 'y'}}Y{{/link-to}}
		{{#link-to 'a-z.letter' 'z'}}Z{{/link-to}}
	</div>

	<div class="alpha-index">
		{{liquid-outlet}}
	</div>
</div>
