<div id="az">
	<div class="alpha-index about">
		<p>Launched by Ninja Tune founding duo Coldcut (Matt Black and Jonathan More) in 1988 on the then pirate radio station KISS FM, Solid Steel is now possibly the longest running mix shows in the world.</p>

		<p>At a time when most DJs were playing one specialist genre of music, Coldcut's Solid Steel remit was more far-ranging, leading to the show's tagline: 'The Broadest Beats,' since 1988 Solid Steel has always embraced new musical styles as they evolve, whilst celebrating the past.</p>

		<p>In 1993 Coldcut were joined by PC and Strictly Kev from DJ Food. In 1996 the show won a Sony Radio Award, and in 1997, Darren Knott, otherwise known as DK, joined the show as DJ and producer.</p>

		<p>Solid Steel left Kiss FM in 1999 after playlist changes meant it would be consigned to a 2am–4am graveyard slot. The show was still recorded each week being available online and syndicated worldwide. In 1999, they were offered a slot on BBC's London Live radio station and were on the station until 2002.</p>

		<p>In 2012, Solid Steel briefly joined Strongroom Alive internet radio to perform a weekly live show on Thursday nights (7-9pm) and in 2014 partnered with NTS Radio to premiere each weeks show on Thursday nights aswell as being voted ‘Best Online Radio Show’ in the Mixcloud International Radio Awards. The weekly show is now syndicated to over 30 radio stations across the world, available each week online at Solidsteel.net, Soundcloud and Mixcloud, plus a podcast highlights via iTunes (often the #1 video and/or audio music podcast on iTunes and over 3 millions downloads to date) and hour long Video Mixes on Vimeo.  Solid Steel has also spawned a variety of successful club nights and mix cd’s.</p>

		<p>Select Solid Steel contributors since 1988: Four Tet, Bonobo, De La Soul, Leon Vynehall, Pearson Sound, Skream, Hudson Mohawke, Machinedrum, Lone, Ben UFO, Jackmaster, Seven Davis Jr, Cooly G, Goldie, Norman Jay, A Guy Called Gerald, Juan Atkins, J Rocc, Pinch, FaltyDL, The Bug, DJ Shadow, Trevor Jackson, Maribo State, Coldcut, DJ Food, Cinematic Orchestra, London Elektricity, Autechre, DJ Marky, Amon Tobin, James Holden, Moxie, Mo Kolours, Kenny Dope, Diplo, Super Furry Animals, Caribou, Scratch Perverts, Throbbing Gristle, Toddla T, The Orb, Photek, Om Unit, Mumdance, Rob Da Bank, Visionist, Paul White, Tom Middleton, Richard Dorfmeister, Young Fathers, Greg Wilson, DJ Kentaro, Mr Scruff, Gilles Peterson, Luke Vibert, Laurent Garnier & many more.</p>

		<p>Site by <b>antipattern</b></p>
	</div>
	<p class="backscroller" {{ action 'backswipe'}}></p>
	<p class="scroller" {{ action 'swipe'}}></p>

</div>