<div id="az">
	<div class="close">
	{{#link-to "index"}}
		<svg version="1.1" viewBox="0 0 44.236 44.236" enable-background="new 0 0 44.236 44.236" xml:space="preserve"><g>	<g>		<line fill="none" x1="15.533" y1="28.704" x2="28.704" y2="15.533"/>		<path d="M15.533,29.454c-0.192,0-0.385-0.073-0.53-0.221c-0.293-0.293-0.293-0.768,0-1.061l13.171-13.171			c0.293-0.293,0.768-0.293,1.061,0s0.293,0.768,0,1.061L16.063,29.234C15.917,29.381,15.725,29.454,15.533,29.454z"/>	</g>	<g>		<line fill="none" x1="15.533" y1="15.533" x2="28.704" y2="28.704"/>		<path d="M28.704,29.454c-0.192,0-0.385-0.073-0.53-0.221L15.002,16.063c-0.293-0.293-0.293-0.768,0-1.061s0.768-0.293,1.061,0			l13.171,13.171c0.293,0.293,0.293,0.768,0,1.061C29.088,29.381,28.896,29.454,28.704,29.454z"/>	</g></g></svg>
	{{/link-to}}
	</div>
	
	<div class="alpha-index about">
		<p>Launched by Ninja Tune founding duo Coldcut (Matt Black and Jonathan More) in 1988 on the then pirate radio station KISS FM, Solid Steel is now one of the longest running mix shows in the world.</p>

		<p>At a time when most DJs were playing one specialist genre of music, Coldcut's Solid Steel remit was more far-ranging, leading to the show's tagline: 'The Broadest Beats'. The continuous mix (then known as 'the mastermix') was a regular feature of the show because of the duo's immersion in the thriving club culture of the late 80's, but they never stuck to one style or genre, leading to a show which, over the past twenty six years, has always embraced new musical styles as they evolve, whilst celebrating the past.</p>

		<p>In 1993 Coldcut were joined by PC and Strictly Kev from DJ Food. The two hour show was filled by improv, with each DJ taking sets of 30 minutes. In 1996 the show won a Sony Radio Award, and in 1997, Darren Knott, otherwise known as DK, joined the show as DJ and producer</p>

		<p>Solid Steel left Kiss FM in 1999 after playlist changes meant it would be consigned to the Tuesday 2am–4am graveyard slot. The show was still recorded each week being available online and syndicated worldwide. In 1999, they were offered a slot on the advertisement-free BBC's London Live radio station and were on the station until 2002. This unique 2 hour show has expanded to include guest mixes, regular video mixes (often the #1 video podcast on iTunes) and the additional 1 hour podcast highlights, regularly featuring in the top 10 music podcasts on iTunes with over 3 million downloads to date</p>

		<p>In 2012, Solid Steel briefly joined Strongroom Alive internet radio to perform a weekly live show on Thursday nights (7-9pm). Other shows included Ross Allen, Clash + Dazed magazine. The show was hosted by Jon More and he was often joined by DK, DJ Food and rolling guests.</p>

		<p>In 2014 the show continued it’s growth, with guest mixes from Four Tet, Leon Vynehall, Maribou State, Max Graef, Moxie, Kowton, Pinch, Addison Groove, Akkord, Mumdance, Seven Davis Jr, Cooly G, xxxy, Dark Sky, Horse Meat Disco, Âme, Rob Da Bank, Moire, Peverelist, Motor City Drum Ensemble, Doc Daneeka, Tessela, Diplo and many, many more. (a full list of 2014’s guest mixes can be found here). It also partnered with NTS Radio to premiere each weeks show on Thursday nights, and was voted ‘Best Online Radio Show’ in the Mixcloud International Radio Awards 2014.</p>

		<p>Over the years Solid Steel has also spawned a variety of successful club nights, mix cd’s, podcasts, and video mixes.</p>

		<p>Constantly evolving, the show embraces new talent and technologies alike with the weekly show now syndicated to over 30 radio stations across the world, available each week online at Solidsteel.net, Soundcloud and Mixcloud, plus a podcast highlights via iTunes and hour long Video Mixes on Vimeo.</p>


		<p>Select Solid Steel contributors from the past 25 years
		Four Tet, Bonobo, De La Soul, Addison Groove, Leon Vynehall, Pearson Sound, Eliphino, Mumdance, Skream, Hudson Mohawke, Machinedrum, Lone, Ben UFO, Jackmaster, Akkord, Kowton, Seven Davis Jr, Cooly G, Goldie, Norman Jay, A Guy Called Gerald, Juan Atkins, J Rocc, Trus’me, FaltyDL, DJ Shadow, Trevor Jackson, Maribou State, Cinematic Orchestra, Ben Westbeech, Pinch, London Elektricity, Autechre, DJ Marky, Amon Tobin, Perera Elsewhere, James Holden, Max Graef, Moxie, Akkord, Mo Kolours, Kenny Dope, Diplo, Super Furry Animals, Caribou, Scratch Perverts, Throbbing Gristle, Toddla T, Jon K, The Orb, Photek, Ross Allen, Om Unit, Visionist, Paul White, Tom Middleton, Richard Dorfmeister, Greg Wilson, DJ Kentaro, Mr Scruff, Gilles Peterson, Luke Vibert, Laurent Garnier & many, many more</p>

		<p>For a full list of past shows, contributors, and tracklistings right back to 1988, head to solidsteel.net</p>


		<p>Solid Steel syndicated stations</p>

		<ul>
		<li>95 BFM New Zealand</li>
		<li>FSK Hamburg - Germany</li>
		<li>Radio FM 4 - Austria</li>
		<li>Radio 3 Fach - Switzerland</li>
		<li>Radio National - Australia</li>
		<li>95bfm - New Zealand</li>
		<li>Radio B92 -Belgrade (on hold)</li>

		<li>European Broadcasting Union which covers;</li>
		<li>RTE/2FM (Ireland)</li>
		<li>RSR/Couleur3 (Switzerland)</li>
		<li>VRT/Studio Brussels (Belgium)</li>
		<li>NDR/N-Joy (Germany)</li>
		<li>SR/FM (Slovakia)</li>
		<li>PR/Radio Bis (Poland)</li>
		<li>BNR (Bulgaria)</li>
		<li>RTBF/PureFM (Belgium)</li>
		<li>JSBH (Bosnia-Herzegovina)</li>

		<li>2SER Sydney, Australia</li>
		<li>RADIO CAMPUS BORDEAUX / 88.1</li>
		<li>RADIO CAMPUS CLERMONT-FERRAND / 93.3</li>
		<li>RADIO DIJON CAMPUS / 92.2</li>
		<li>RADIO CAMPUS GRENOBLE / 90.8</li>
		<li>RADIO CAMPUS LILLE / 106.6</li>
		<li>RADIO BRUME LYON / 90.7</li>
		<li>RADIO CAMPUS ORLEANS / 88.3</li>
		<li>RADIO CAMPUS RENNES / 88.4</li>
		<li>RADIO EN CONSTRUCTION STRASBOURG / 90.7</li>
		<li>RADIO CAMPUS TOULOUSE / 94.0</li>
		<li>RADIO CAMPUS TROYES / 88.7</li>
		<li>RADIO CAMPUS AVIGNON / 90.3</li>
		<li>RADIO CAMPUS BESANCON</li>
		<li>RADIO CAMPUS PARIS / radiocampusparis.org</li>
		</ul>

	</div>
	<p class="backscroller" {{ action 'backswipe'}}></p>
	<p class="scroller" {{ action 'swipe'}}></p>

</div>