<nav>
	<p id="home"><img src="/assets/images/list.svg"></p>
	{{#link-to "search"}}
		<p id="search"><img src="/assets/images/magnifying-glass.svg"></p>
	{{/link-to}}
	<p id="playing">
		<img id="playButton" src="/assets/images/bar-graph.svg">
		<img id="pauseButton" src="/assets/images/pause.svg">
	</p>
</nav>



 <div id="container">
	<div id="inner-container">
		{{outlet}}
	</div>
</div>