<nav class="wide">
	{{#link-to "broadcasts"}}
		<p id="home"><img src="/assets/images/list.svg"></p>
	{{/link-to}}
		
	{{#link-to "search"}}
		<p id="search"><img src="/assets/images/magnifying-glass.svg"></p>
	{{/link-to}}

	{{#link-to "index"}}
	<p id="playing">
		<img id="playButton" src="/assets/images/bar-graph.svg">
	</p>
	{{/link-to}}
	<p {{action 'mute'}} {{ bind-attr class="muted"}}>mute</p>
</nav>

{{outlet}}

<nav id="extra">
	{{#link-to "about"}}
		<p id="search"><img src="/assets/images/list.svg"></p>
	{{/link-to}}

	<br />

	{{#link-to "a-z"}}
		<p id="search"><img id="playButton" src="/assets/images/bar-graph.svg"></p>
	{{/link-to}}
</nav>

<nav id="featured">
{{#link-to "top50"}}
	<p id="feat-link">Featured mixes</p>
{{/link-to}}
</nav>

<nav id="social" class="wide">
	<p id="fb"><a href="#">facebook</a></p>
	<p id="tw"><a href="#">twitter</a></p>
	<p id="vm"><a href="#">vimeo</a></p>
</nav>

<div {{ bind-attr style="myStyle"}}>
</div>
