<nav class="wide">
	{{#link-to "broadcasts"}}
		<img src="/assets/images/circle1.svg">
	{{/link-to}}
		
	{{#link-to "search"}}
		<img src="/assets/images/circle1.svg">
	{{/link-to}}

	{{#link-to "index"}}
		<img id="playButton" src="/assets/images/circle1.svg">
	{{/link-to}}
	
	<!-- <p {{action 'mute'}} {{ bind-attr class="muted"}}>mute</p> -->
</nav>

{{outlet}}

<nav id="extra">
	{{#link-to "about"}}
		<img src="/assets/images/circle1.svg">
	{{/link-to}}

	{{#link-to "a-z"}}
		<img id="playButton" src="/assets/images/circle1.svg">
	{{/link-to}}
</nav>

<nav id="featured">
{{#link-to "top50"}}
	<p id="feat-link">Featured mixes</p>
{{/link-to}}
</nav>

<nav id="social" class="wide">
	<p id="fb"><a href="#">facebook</a></p>
	<p id="tw"><a href="#">twitter</a></p>
	<p id="vm"><a href="#">vimeo</a></p>
</nav>

<div {{ bind-attr style="myStyle"}}>
</div>
