{{#each broadcast in model}}
<div id="latest" class="playDetails">
  <h1>{{broadcast.session_name}}</h1>
  <ul>
  {{#each mix in broadcast.mixes}}
    <li>- {{mix.name}}</li>
  {{else}}
  <li>No mixes found.</li>
  {{/each}}
  </ul>
</div>

{{#each mix in broadcast.mixes}}
<div id="play" class="play">    
</div>
{{/each}}

{{#link-to "tracks.index" broadcast id="btn-tracklisting"}}<span>+TRACKLIST</span>{{/link-to}}

{{/each}}

{{outlet}}
