<div id="latest" class="playDetails">
	<h1>{{model.session_name}}</h1>
	<ul>
	{{#each mix in model.mixes}}
		<li>- {{mix.name}}</li>
	{{/each}}
	</ul>
</div>

{{#each mix in model.mixes}}
<div id="play" class="play">		
</div>
{{/each}}

{{outlet}}