<div id="container" {{bind-attr class="showingResults"}}>
  <div id="inner-container">
  	
  	<div id="search-form" {{bind-attr class="searching"}}>
	  {{input type="text" placeholder="Search by artist, track, date" value=search action="query"}}
	  <span></span>
    </div>

  </div>
</div>

{{outlet}}