<div id="az">
    <div class="close">
    {{#link-to "index"}}
        <svg version="1.1" viewBox="0 0 44.236 44.236" enable-background="new 0 0 44.236 44.236" xml:space="preserve"><g>   <g>     <line fill="none" x1="15.533" y1="28.704" x2="28.704" y2="15.533"/>     <path d="M15.533,29.454c-0.192,0-0.385-0.073-0.53-0.221c-0.293-0.293-0.293-0.768,0-1.061l13.171-13.171          c0.293-0.293,0.768-0.293,1.061,0s0.293,0.768,0,1.061L16.063,29.234C15.917,29.381,15.725,29.454,15.533,29.454z"/>    </g>    <g>     <line fill="none" x1="15.533" y1="15.533" x2="28.704" y2="28.704"/>     <path d="M28.704,29.454c-0.192,0-0.385-0.073-0.53-0.221L15.002,16.063c-0.293-0.293-0.293-0.768,0-1.061s0.768-0.293,1.061,0          l13.171,13.171c0.293,0.293,0.293,0.768,0,1.061C29.088,29.381,28.896,29.454,28.704,29.454z"/>    </g></g></svg>
    {{/link-to}}
    </div>
    
    <div class="subscribe">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        <div {{bind-attr class="submitting"}}>
            {{input type="text" placeholder="Email address" value=search action="subscribe"}}
        </div>
    </div>
</div>