<div id="az">
    <div class="subscribe">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.

        {{#if subscribeFailed}}
        <div class="alert">problem subscribing...</div>
        {{/if}}

        {{#if isProcessing}}
        <div class="alert">provoessing...........</div>
        {{/if}}

        {{#if isSuccess}}
        <div class="alert">YESSS SUCCESS</div>
        {{/if}}

        <div {{bind-attr class="submitting"}}>
            {{input type="text" placeholder="Email address" value=email action="subscribe" bindAttr="disabled:isProcessing" focus-in="focus"}}
            <span></span>
        </div>
    </div>
    <div id="linksout">
        <p><a href="#">FACEBOOK</a> - <a href="#">TWITTER</a> - <a href="#">VIMEO</a> - <a href="#">ITUNES</a></p>
    </div>
</div>