<div id="az">
    <div class="subscribeBlock">
        
        <p><b>Newsletter</b></p>

        Join the mailing list to get an email with the track list when the Solid Steel show is live each week, plus a free archive show to download.

        <div {{bind-attr class="submitting"}}>
            {{input type="text" placeholder="Email address" value=email action="subscribe" bindAttr="disabled:isProcessing" focus-in="focus"}}
            <span></span>
        </div>

        {{#if subscribeFailed}}
        <div class="alert">Oops! There was a problem subscribing. Please try again.</div>
        {{/if}}

        {{#if isProcessing}}
        <div class="alert">Processing.....</div>
        {{/if}}

        {{#if isSuccess}}
        <div class="alert">Subscribed! Please check your email.</div>
        {{/if}}

        <p><b>Email us</b></p>
        <p><a href="mailto:solidsteel@ninjatune.net">solidsteel@ninjatune.net</a></p>

        <br />
        <p><b>Podcast</b></p>
        <p><a href="https://itunes.apple.com/podcast/solid-steel/id88395834">Subscribe via iTunes</a></p>

    </div>
    <div id="linksout">
        <p><a target="_blank" href="https://www.facebook.com/pages/Solid-Steel/175027509192663">FACEBOOK</a> - <a  target="_blank" href="https://twitter.com/SolidSteelRadio">TWITTER</a> - <a  target="_blank" href="http://vimeo.com/solidsteel">VIMEO</a> - <a  target="_blank" href="https://itunes.apple.com/podcast/solid-steel/id88395834">ITUNES</a></p>
    </div>
</div>