<div id="year-selector" {{bind-attr class="view.hover"}}>
      <p>{{#link-to "broadcasts" (query-params year="2015") }}2015{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="2014") }}<span>20</span>14{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="2013") }}<span>20</span>13{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="2012") }}<span>20</span>12{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="2011") }}<span>20</span>11{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="2010") }}2010{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="2009") }}<span>20</span>09{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="2008") }}<span>20</span>08{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="2007") }}<span>20</span>07{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="2006") }}<span>20</span>06{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="2005") }}<span>20</span>05{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="2004") }}<span>20</span>04{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="2003") }}<span>20</span>03{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="2002") }}<span>20</span>02{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="2001") }}<span>20</span>01{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="2000") }}2000{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="1999") }}<span>19</span>99{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="1998") }}<span>19</span>98{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="1997") }}<span>19</span>97{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="1996") }}<span>19</span>96{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="1995") }}<span>19</span>95{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="1994") }}<span>19</span>94{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="1993") }}<span>19</span>93{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="1992") }}<span>19</span>92{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="1991") }}<span>19</span>91{{/link-to}}</p>
      <p>{{#link-to "broadcasts" (query-params year="1990") }}<span>19</span>90{{/link-to}}</p>
</div>